<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999680734366-ccrs73vllgbu8juknblemi3ao9r2dmpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999680734366-ccrs73vllgbu8juknblemi3ao9r2dmpn</string>
	<key>API_KEY</key>
	<string>AIzaSyA7KMAgeO_tDH4ZP4dyO7WQPh430Y5HwtM</string>
	<key>GCM_SENDER_ID</key>
	<string>999680734366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanaJeong.dev.Cuddly</string>
	<key>PROJECT_ID</key>
	<string>cuddly-ac54f</string>
	<key>STORAGE_BUCKET</key>
	<string>cuddly-ac54f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999680734366:ios:082c1cf0adb58b6899b78f</string>
</dict>
</plist>